.galeria{
    width: 98%;
    height: auto;
    overflow: hidden;
    margin: 15px auto;
}
.galeria .carrossel{
    width: 1000%;
    animation-name: slide;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
.galeria .carrossel img{
    width:650px;
    margin: auto;
}
@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }
}