header{
    max-width: 99%;
    margin: -8px auto;
    padding: 5px;
    text-align: center;
    background-image: linear-gradient(to bottom, #cac7c7, #fff);
    font-size: 1em;
    margin-bottom: 2px;
}
header p{
    font-size: 1.5em;
    line-height: 0.5px;
}
header p a{
    text-decoration: none;
    color: black;
}

footer {
    margin: 2px auto -3px auto;
    padding: 3px;
    background-color: #cac7c7;
    color: black;
    font-weight: bolder;
    text-transform:uppercase;
    width: 99%;
    font-size: 1.2em;
    text-align: center;
}
footer p{
    text-align: center;
}
