@charset "UTF-8";
body{
     margin: auto;
     width: 98.5%;
}
ul{
    margin: auto;
}

a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
li{
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}