@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');


:root{
    --font1:Arial,Helvetica,sans-serif;
    --font2:'Open Sans', sans-serif;
    --font3:'FontAwesome',sans-serif;
    --font4:'Gentium Basic',  serif;
    --cor1:#157A6C;
    --cor5:#E9E9E9;
    --cor2:#000000;
    --cor3:#1e6815;
    --cor4:#34af23;
}

.cookieConsentContainer{width:100%;min-height:px;box-sizing:border-box;padding:10px 30px 10px 30px;background:#1f6815e1;overflow:hidden;position:fixed;bottom:00px;display:none}.cookieConsentContainer .cookieTitle a{font-family:OpenSans,arial,sans-serif;color:#000;font-size:14px;line-height:16px;display:block}.cookieConsentContainer .cookieDesc p{margin:auto;padding:0;font-family:OpenSans,arial,sans-serif;color:black;font-size:13px;line-height:20px;display:block;margin-top:10px}.cookieConsentContainer .cookieDesc a{font-family:OpenSans,arial,sans-serif;color:#fff;text-decoration:underline}.cookieConsentContainer .cookieButton a{display:inline-block;font-family:OpenSans,arial,sans-serif;color:#fff;font-size:14px;font-weight:700;margin-top:14px;background:#000;box-sizing:border-box;padding:15px 24px;text-align:center;transition:background .3s}.cookieConsentContainer .cookieButton a:hover{cursor:pointer;background:#3e9b67}@media (max-width:980px){.cookieConsentContainer{bottom:0!important;left:0!important;width:100%!important}}

main h1{
    margin: 2px auto;
    display: block;
    height: auto;
    font-size: 150%;
    font-size: 2em;
}

header h2{
    color:var(--cor1);
}
main{
    width: 90%;
    margin: auto;
}
main p{
    font-weight: 500;
    width: 85%;
    font-family: var(--font2);
    font-size: 1.2em;
    text-align: justify;
    margin: 5px auto;
    margin-bottom: 10px;
}
strong{
    font-weight: normal;
    text-transform:none;
}
.grafico img{
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px var(--cor2);
}
.icones{
    clear: both;
    display: block;
    float: left;
    width: 19%;
    height: 450px;
    margin: 2px auto;
    border-right: 1px solid var(--cor2);
    align-content: center;
}
.simule{
    position: relative;
    display: block;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid var(--cor2);
    width: 90%;
    height: calc(auto);
    background-color: var(--cor5);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--cor2);
}

.simule img{
    border: 2px solid var(--cor2);
    margin: 3px;
    border-radius: 5px;
}
.caixa-simulacao{
    width: 15%;
    padding: 16px;
    display: inline-block;
    border: 1px solid var(--cor2);
    border-radius: 5px;
    margin: 0px 0px 5px 5px;
    display: inline-block;
    font-size: 1em;
    background-color: var(--cor1);
    align-content: space-between;
}
#btn-simular{
    width: 80%;
    height: 35px;
    margin: 5px auto;
    text-transform: uppercase;
    padding: 2px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    background-color: var(--cor3);
    font-size: 1.0em;
}
#btn-simular:hover{
    width: 95%;
    height: 35px;
    font-size: 1.2em;
    padding: 2px;
    text-decoration: none;
    background-color: var(--cor4);
}
.imag img{
    width: 80%;
    margin: auto;
    display: block;
}

a#flutuante{
    position:fixed;
    width:50px;
    height:50px;
    bottom:60px;
    right:20px;
    background-color:var(--cor4);
    color:#fff;
    border-radius:50px;
    text-align:center;
    font-size:20px;
    box-shadow:1px 1px 2px #888;
    z-index:1350;
    box-shadow: 2px 1px 1px black;
    border: 1px solid black;
}


a#flutuante>div{
    visibility: hidden;
}
a#flutuante:hover>div{
    visibility: visible;
    background-color: var(--cor4);
    position: absolute;
    padding: 3px;
    z-index:1350;
    width:120px;
    height:auto;
    bottom:0px;
    right:55px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 1px 1px solid;
    color: #000;
}

.convenios{
    width: 85%;
    margin: auto;
    padding: 2px;
    display: block;
    align-content: center;

}
.convenios img{
    display: inline-block;
    margin: auto;
    border-radius: 8px;
    align-content: center;
}
hr{
    color: #000;
    background-color: #000;
}
#formulario{
    display: inline-block;
    width: 65%;
    border-radius: 5PX;
    padding: 5px;
    margin: 2px auto;
    border: 1px solid black;
    background-color: var(--cor5);
    box-shadow: 1px 1px 1px black;
}
#formulario p{
    display: block;
    font-size: 0.8em;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}
fieldset{
    border: none;
    margin: auto;
    width: 99%;
    font-weight: bolder;
    font-size: 1.5em;
}
.campo p{
    width: auto;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    }
#formulario input{
    margin: 2px auto;
    text-align: center;
    border-radius: 1px;
    padding: 2px;
    display: inline-block;
    align-content: center;
}

#btn{
    width: 80%;
    margin: 15px auto;
    padding: 2px;
    background-color: var(--cor3);
    font-size: 1.1em;
    color: var(--cor2);
    border: 1px 1px 1px black;
    margin: 2px auto;
    text-align: center;
}
.campo input{
    display: inline-block;
    width: 50%;
    align-content: space-between;
    margin: auto;
}
.text-campo{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1pxl;
    border-radius: 5px;
    display: block;
    margin: 2px auto;
    width: 10%;
}

