@charset "UTF-8";

main{
    width: 90%;
    margin: auto;
}

.grafico img{
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    background-color: black;
    padding: 15px;
}
.icones{
    clear: both;
    display: block;
    float: left;
    width: 17%;
    margin: auto;
    border-right: 1px solid black;
}
.simule{
    display: block;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid black;
    width: 90%;
    height: 1100px;
    background-color: rgba(240, 248, 255, 0.808);
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}

.simule img{
    border: 2px solid black;
    margin: 3px;
    border-radius: 5px;
}
.caixa-simulacao{
    width: 14%;
    padding: 16px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 0px 5px 5px;
    display: inline-block;
    background-color: rgba(140, 252, 199, 0.836);
}
#btn-simular{
    width: 95%;
    height: 55px;
    margin: auto;
    padding: 2px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    background-color: rgb(90, 218, 90);
    font-size: 1.5em;
}
#btn-simular:hover{
    width: 95%;
    height: 55px;
    font-size: 1.8em;
    padding: 2px;
    text-decoration: none;
    background-color: rgb(62, 179, 62);
}
table{
    width: 50%;
    background-color: aquamarine;
    margin: auto;
    border: 1px solid black;
}
table td{
    text-align: center;
    font-size: 1.5em;
    border: 1px dashed black;
}
table th{
    border: 1px dashed black;
    text-align: center;
    font-size: 1.8em;
}