@charset "UTF-8";

@media (min-width:950px) and (max-width:1280px){
    header{
        font-size: 1.5em;
    }
}



@media (min-width:550px) and (max-width:950px){
    header{
        font-size: 0.8em;
    }

    .icones{
        clear: both;
        display: inline-block;
        width: 95%;
    }
    .icones img{
        max-width:12% ;
    }
}



@media (min-width:360px) and (max-width:550px){
    header{
        font-size: 0.5em;
    }
    main{
        width: 95vw;
    }
    .simule{
        height: auto;
    }
    .icones{
        clear: both;
        display: inline-block;
        width: 100%;
        border: none;
    }
    .icones img{
        max-width:8% ;
        margin: auto;
        display:inline-block;
        border: none;
    }
    #btn-simular{
        font-size: 1em;
    }
    #btn-simular:hover{
        font-size: 1em;
    }
    .caixa-simulacao{
        width:40%;
    }

}